body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 40px;
}

section {
    padding: 30px;
    margin: 20px;
    background: white;
    border-radius: 10px;
}

h2 {
    color: #0077b6;
}

ul {
    list-style: square;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #023e8a;
    color: white;
}